body {
  font: 10px sans-serif;
}

rect {
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke: black;
}

.bar text {
    font-size: 1.2em;
    text-anchor: middle;
}

.legend rect {
  stroke: none;
}

.legend text {
  font-size: 1.1em;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis line {
  display: none;
}

.x.axis .title {
  font-weight: 700;
}

.chart > .title {
    font-weight: 700;
    font-size: 15px;
}

.fa.chart {
    display: inline-block;
}

text.score-text {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -webkit-font-smoothing: antialiased;
    fill: white;
}